.user-list-tools {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	row-gap: 1rem;
}

.tool-input-item-container {
	display: flex;
	gap: 1rem;
	width: 60%;
	min-width: 375px;
}

.tool-item-container {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.tool-item {
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	padding: 0.5rem 1rem;
	min-width: 100px;
	transition: 0.15s all;
	user-select: none;
}

.tool-item:hover {
	background-color: var(--clr-primary);
}

.tool-input-item-container button {
	padding: 0;
}

.tool-input-item {
	width: 100%;
	position: relative;
}

.tool-input-item input {
	width: 100%;
	padding-right: calc(20px + 1rem);
}

.input-icon-container {
	position: absolute;
	color: var(--clr-gray) !important;
	top: 8px;
	right: 8px;
	cursor: pointer;
	display: flex;
}

.users-list-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
}

.user-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--clr-light);
	width: calc(25% - (1rem * (3 / 4)));
	color: var(--clr-light);
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	transition: 0.15s all;
}

a.user-card {
	text-decoration: none !important;
}

.user-card:hover {
	transform: translateY(-2px);
}

.user-card-avatar {
	width: 100%;
	background-color: var(--clr-light);
	padding: 1rem;
	padding-bottom: 0;
	display: flex;
	justify-content: center;
	border-bottom: solid 4px var(--clr-dark);
}

.user-card-bottom {
	padding: 1rem;
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: var(--clr-primary);
	gap: 1rem;
}

.paginator-container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	gap: 0.5rem;
}

.paginator-container li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
}

.paginator-btn {
	border: solid 2px var(--clr-primary) !important;
	border-radius: 4px;
	color: var(--clr-light);
	cursor: pointer;
	padding: 0.75rem 1rem;
	font-size: 1.25rem;
	text-align: center;
	transition: all 0.15s;
	border: none;
	width: 100%;
	width: 100%;
	user-select: none;
}

.paginator-btn:hover {
	background-color: var(--clr-primary);
}

.paginator-btn.active {
	background-color: var(--clr-primary);
}

.paginator-btn.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.user-page-container {
	width: 100%;
	display: flex;
	gap: 0 2rem;
	flex-wrap: wrap;
}

.user-page-container div {
	width: calc(50% - (2rem / 2));
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
	border-radius: 4px;
	overflow: hidden;
}

.user-info {
	font-size: 1.75rem;
	padding: 1rem;
	background-color: var(--clr-primary);
}

.back-button-container {
	width: 100% !important;
}

.back-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
	width: 125px;
}

.back-button span {
	margin-bottom: -3px;
}

/* Media queries */
@media only screen and (max-width: 1200px) {
	.user-card {
		width: calc(33.33% - (1rem * (2 / 3)));
	}
}

@media only screen and (max-width: 992px) {
	.user-card {
		width: calc(50% - (1rem * (1 / 2)));
	}

	.user-page-container {
		flex-direction: column;
	}

	.user-page-container div {
		width: 100%;
	}

	.user-info {
		margin-top: 2rem;
	}
}

@media only screen and (max-width: 576px) {
	.user-card {
		width: 100%;
	}

	.paginator-container {
		width: 100%;
		gap: 4px;
	}

	.paginator-container li {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 46px;
		height: 46px;
	}
	
	.paginator-btn {
		border: solid 2px var(--clr-primary) !important;
		border-radius: 4px;
		color: var(--clr-light);
		cursor: pointer;
		padding: 0.5rem 0.5rem;
		font-size: 1rem;
		text-align: center;
		transition: all 0.15s;
		border: none;
		width: 100%;
		width: 100%;
		user-select: none;
	}

	.tool-item-container {
		width: 100%;
	}

	.tool-input-item-container {
		min-width: auto;
		width: 100%;
	}
}
/* End Media queries */
