.user-list-container {
	width: 100%;
}

.user-list-tools {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	gap: 1rem;
}

.tool-item {
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	padding: 0.5rem 1rem;
	min-width: 100px;
	transition: 0.15s all;
	user-select: none;
}

.tool-item:hover {
	background-color: var(--clr-primary);
}

.tool-input-item {
	position: relative;
}

.tool-input-item input {
	padding-right: calc(20px + 1rem);
}

.input-icon-container {
	position: absolute;
	color: var(--clr-gray) !important;
	top: 8px;
	right: 8px;
    cursor: pointer;
	display: flex;
}
